# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore detection results
detections/
match_detections/
query/
query_images/

# Ignore model weights if too large
*.pt

# (Optional) Ignore TorchReID prebuilt files
torchreid/logs/
